{
  "openapi": "3.1.1",
  "info": {
    "title": "laminar",
    "description": "",
    "license": {
      "name": ""
    },
    "version": "0.1.0"
  },
  "servers": [
    {
      "url": "https://api.lmnr.ai"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/pipeline/run": {
      "post": {
        "tags": [
          "api::pipelines"
        ],
        "operationId": "run_pipeline_graph",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GraphRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Pipeline run result",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["runId", "outputs"],
                  "properties": {
                    "runId": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "outputs" : {
                      "type": "object",
                      "additionalProperties": {
                        "$ref": "#/components/schemas/GraphRunOutput"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/v1/semantic-search": {
      "post": {
        "tags": [
          "api::semantic-search"
        ],
        "operationId": "semantic_search",
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SemanticSearchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Semantic search result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SemanticSearchResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request. Cannot parse the JSON payload into a valid request. Common causes: `datasetId` is not a valid UUID",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Json deserialize error."
                }
              }
            }
          },
          "404": {
            "description": "Dataset not found. Either `datasetId` is not found within the project defined by project API key.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string",
                  "example": "Dataset not found."
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    },
    "schemas": {
      "ChatMessage": {
        "type": "object",
        "properties": {
          "role": {
            "type": "string"
          },
          "content": {
            "type": "string"
          }
        },
        "required": ["role", "content"]
      },
      "ConditionedValue": {
        "type": "object",
        "properties": {
          "condition": {
            "type": "string"
          },
          "value": {
            "type": "string"
          }
        },
        "required": ["condition", "value"]
      },
      "NodeInput": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ChatMessage"
            }
          },
          {
            "$ref": "#/components/schemas/ConditionedValue"
          }
        ]
      },
      "GraphRequest": {
        "type": "object",
        "required": [
          "pipeline",
          "inputs",
          "env"
        ],
        "properties": {
          "pipeline": {
            "type": "string",
            "description": "Name of the pipeline to be called. Not to be confused with the pipeline version name. Target pipeline version for the pipeline is set in the UI."
          },
          "inputs": {
            "type": "object",
            "additionalProperties": {
              "$ref": "#/components/schemas/NodeInput"
            }
          },
          "env": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "The keys are env variables such as OPENAI_API_KEY, POSTGRES_URL, etc."
          },
          "metadata": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            },
            "description": "Per-request metadata. Keys are arbitrary strings such as user_id, etc.",
            "nullable": true
          },
          "stream": {
            "type": "boolean",
            "description": "If true, each node's output will be streamed. For some nodes, the whole execution will be streamed (e.g. LLM). Final value will be the run trace.",
            "nullable": true
          }
        }
      },
      "GraphRunOutput": {
        "type": "object",
        "required": [
          "value"
        ],
        "properties": {
          "value": {
            "$ref": "#/components/schemas/NodeInput"
          }
        }
      },
      "SemanticSearchRequest": {
        "type": "object",
        "required": ["query", "datasetId"],
        "properties": {
          "query": {
            "description": "Query string to search semantically similar records",
            "type": "string"
          },
          "datasetId": {
            "description": "Dataset ID to search from.",
            "type": "string",
            "format": "uuid"
          },
          "limit": {
            "description": "Maximum number of results to return. Defaults to 10.",
            "type": "integer",
            "format": "int32",
            "default": 10,
            "minimum": 0
          },
          "threshold": {
            "description": "Minimum semantic similarity score threshold for the results. Defaults to 0.0.",
            "type": "number",
            "format": "float",
            "minimum": 0.0,
            "maximum": 1.0,
            "default": 0.0
          }
        }
      },
      "SemanticSearchResponse": {
        "type": "object",
        "required": ["results"],
        "properties": {
          "results": {
            "description": "List of semantic search results, ordered by score in descending order",
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/SemanticSearchResult"
            }
          }
        }
      },
      "SemanticSearchResult": {
        "type": "object",
        "required": ["datasetId", "score", "data", "content"],
        "properties": {
          "datasetId": {
            "description": "Dataset ID",
            "type": "string",
            "format": "uuid"
          },
          "score": {
            "description": "Semantic similarity score between the query and the data",
            "type": "number",
            "format": "float",
            "minimum": 0.0,
            "maximum": 1.0
          },
          "data": {
            "description": "Data object – `data` field from the dataset",
            "type": "object"
          },
          "content": {
            "description": "Content from the data point that matched the query. Usually entire content of the field that dataset is indexed on, but might be a chunk of it, if it is too long.",
            "type": "string"
          }
        }
      }
    }
  }
}
